@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    /* Empêche le défilement */
}

body {
    background-image: url("../media/inbox.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

#header-container-right {
    width: 150px;
    height: 70px;
}

#header-container-left {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

#title {
    font-size: 70px;
    font-weight: bold;
    font-family: "Sedan SC", serif;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.button {
    display: flex;
    padding: 20px;
    margin-right: 10px;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-family: "Roboto", sans-serif;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    cursor: pointer;
}

header img {
    padding-right: 10px;
}

#lower {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.conversations {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.leftpanel {
    width: 15%;
    margin: 0.8%;
}

.recipients,
.seenby {
    height: 50%;
    overflow-y: auto;
    overflow-x: auto;
    padding: 5%;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.recipients p,
.seenby p {
    color: white;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.recipient {
    padding: 5%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.conv_name {
    display: inline-block;
    padding: 1%;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 0.8%;
}

.content {
    flex: 1;
    overflow-y: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: column-reverse;
    padding: 1%;
}

.send_message {
    height: 10%;
}

form {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1%;
    padding-left: 0;
}

input {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
}

input[name="message"] {
    width: 90%;
    margin-right: 1%;
    padding: 1%;
}

input[type="submit"] {
    width: 10%;
    cursor: pointer;
}

input::placeholder {
    color: white;
}

.left,
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    padding: 1%;
    align-self: flex-start;
}

.right {
    background-color: #0096FF;
    color: white;
    align-self: flex-end;
}

.left {
    background-color: #f0f0f0;
    color: #333;
}

.message {
    display: flex;
    align-items: center;
    width: 100%;
}

.message-content {
    flex-grow: 1;
    word-wrap: break-word;
    /* Permettre le retour à la ligne automatique quand le message est trop long :) */
}

.message-options {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.message-options button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.message-options img {
    width: 30px;
    height: 30px;
}