@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#lower {
    height: 90vh;
}

header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    /* Allows to push items to left and right, text to middle */
}

#header-container-right {
    width: 150px;
    height: 70px;
}

#header-container-left {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

#title {
    font-size: 70px;
    font-weight: bold;
    font-family: "Sedan SC", serif;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

video {
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
    z-index: -1;
}

#onvideo {
    font-size: 70px;
    font-weight: bold;
    font-family: "Sedan SC", serif;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.button {
    display: flex;
    padding: 20px;
    padding: 20px;
    margin-right: 10px;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-family: "Roboto", sans-serif;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    cursor: pointer;
}

header img {
    padding-right: 10px;
}