@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../media/message.jpg");
    background-size: cover;
}

header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    /* Allows to push items to left and right, text to middle */
}

#header-container-right {
    width: 150px;
    height: 70px;
}

#header-container-left {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

#title {
    font-size: 70px;
    font-weight: bold;
    font-family: "Sedan SC", serif;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.button {
    display: flex;
    padding: 20px;
    padding: 20px;
    margin-right: 10px;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-family: "Roboto", sans-serif;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    cursor: pointer;
}

#lower {
    height: 90vh;
    display: flex;
}

header img {
    padding-right: 10px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    padding: 2% 2%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    width: 25%;
    height: 30%;
}

textarea {
    resize: none;
    background: transparent;
    color: white;
    width: 100%;
    padding: 1.5%;
    border-radius: 10px;
    height: 70%;
    font-size: 22px;
}

textarea::placeholder {
    color: white;
}

input[type="submit"] {
    background-color: white;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    margin-top: 5%;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 5%;
    font-size: 16px;
    backdrop-filter: blur(20px);
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}