@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../media/panel.jpg");
    background-size: cover;
}

header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    /* Allows to push items to left and right, text to middle */
}

#header-container-right {
    width: 150px;
    height: 70px;
}

#header-container-left {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

#title {
    font-size: 70px;
    font-weight: bold;
    font-family: "Sedan SC", serif;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.button {
    display: flex;
    padding: 20px;
    margin-right: 10px;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-family: "Roboto", sans-serif;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    cursor: pointer;
}

header img {
    padding-right: 10px;
}

#lower {
    height: 90vh;
    display: flex;
    justify-content: space-between;
}

.box {
    background: rgba(255, 255, 255, 0.61);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 2% 3%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
    flex: 1;
    margin: 36vh 25vh;
    font-weight: bold;
    cursor: pointer;
}

.box:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}

.box h1 {
    color: black;
    text-align: center;
    padding-bottom: 4%;
    font-size: 24px;
}

.box p {
    padding-bottom: 10px;
    color: black;
    font-size: 14px;
    text-align: center;
}