@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../media/pricing.jpg");
    background-size: cover;
}

header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    /* Allows to push items to left and right, text to middle */
}

#header-container-right {
    width: 150px;
    height: 70px;
}

#header-container-left {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

#title {
    font-size: 70px;
    font-weight: bold;
    font-family: "Sedan SC", serif;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

.button {
    display: flex;
    padding: 20px;
    padding: 20px;
    margin-right: 10px;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-family: "Roboto", sans-serif;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    cursor: pointer;
}

#lower {
    height: 90vh;
    display: flex;
}

header img {
    padding-right: 10px;
}

.box {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    padding: 2% 3%;
    flex: 1;
    margin: 30vh 5vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.box h1 {
    text-align: center;
    padding-bottom: 10%;
    color: white;
}

.box p {
    text-align: justify;
    color: #ccc;
    font-weight: bold;
}

.box:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}

span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: red;
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
}

.price-tag {
    display: flex;
    margin-top: 20%;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
}